# Private dev files
private/
config.toml
.coverage

# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/
.env

# Tooling
.python-version
.ruff_cache/
.mypy_cache/
.pytest_cache/
coverage.xml
htmlcov/

# Editors
.DS_Store
.vscode/
.idea/

# Builds / outputs
dist/
build/
*.egg-info/

# Podman / containers
podman-machine-default*
volumes/
configs/
